packages/Microsoft.Net.Compilers.1.3.2/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.3.2/tools/csc.exe
packages/Microsoft.Net.Compilers.1.3.2/tools/csc.exe.config
packages/Microsoft.Net.Compilers.1.3.2/tools/csc.rsp
packages/Microsoft.Net.Compilers.1.3.2/tools/csi.exe
packages/Microsoft.Net.Compilers.1.3.2/tools/csi.rsp
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.CSharp.Scripting.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.Scripting.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.DiaSymReader.Native.amd64.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.DiaSymReader.Native.x86.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.3.2/tools/System.AppContext.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/System.Diagnostics.StackTrace.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/System.IO.FileSystem.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/System.IO.FileSystem.Primitives.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.3.2/tools/vbc.exe
packages/Microsoft.Net.Compilers.1.3.2/tools/vbc.exe.config
packages/Microsoft.Net.Compilers.1.3.2/tools/vbc.rsp
packages/Microsoft.Net.Compilers.1.3.2/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.3.2/tools/VBCSCompiler.exe.config
packages/Microsoft.Net.Compilers.1.3.2/Microsoft.Net.Compilers.1.3.2.nupkg
packages/Microsoft.Net.Compilers.1.3.2/ThirdPartyNotices.rtf
